:root {
  --root-brand: hsla(166, 81%, 19%, 1);
  --root-white: hsla(0, 0%, 100%, 1);
  --bg: var(--root-white);
  --bg-hover: hsla(0, 0%, 0%, 0.03);
  --bg-accent-green: hsla(98, 51%, 64%, 1);
  --bg-accent-purple: hsla(248, 76%, 77%, 1);
  --bg-accent-red: hsla(16, 71%, 64%, 1);
  --bg-accent-turquoise: hsla(168, 51%, 72%, 1);
  --bg-accent-yellow: hsla(66, 76%, 71%, 1);
  --bg-always-light: var(--root-white);
  --bg-brand: var(--root-brand);
  --bg-brand-hover: hsla(166, 81%, 17%, 1);
  --bg-secondary: hsla(43, 37%, 96%, 1);
  --bg-tertiary: hsla(42, 28%, 93%, 1);
  --bg-tertiary-hover: hsla(42, 28%, 90%, 1);
  --border: hsla(42, 33%, 92%, 1);
  --border-always-light: hsla(0, 0%, 100%, 0.40);
  --border-brand: var(--root-brand);
  --border-secondary: hsla(43, 37%, 96%, 1);
  --border-tertiary: hsla(42, 20%, 87%, 1);
  --border-active: hsla(42, 10%, 75%, 1);
  --focus: hsla(166, 81%, 19%, 0.24);
  --icon: hsla(0, 0%, 46%, 1);
  --icon-active: var(--root-brand);
  --icon-always-light: var(--root-white);
  --icon-brand: var(--root-brand);
  --icon-muted: hsla(44, 13%, 72%, 1);
  --icon-onbrand: var(--root-white);
  --overlay: hsla(0, 0%, 0%, 0.20);
  --text: hsla(0, 0%, 15%, 1);
  --text-always-dark: hsla(0, 0%, 15%, 1);
  --text-always-light: var(--root-white);
  --text-brand: var(--root-brand);
  --text-muted: hsla(45, 19%, 29%, 1);
  --text-onbrand: var(--root-white);
  --transition: all 0.2s ease-in-out;
  --zindex-content: 50;
  --zindex-overlay: 1000;
}
