:root {
  /* Light */
  /* colors */
  --bg: #ffffff;
  --bg-accent-green: #97d275;
  --bg-accent-purple: #a498f1;
  --bg-accent-red: #e58663;
  --bg-accent-turquoise: #93dcce;
  --bg-accent-yellow: #e2ed7d;
  --bg-always-light: #ffffff;
  --bg-brand: #095845;
  --bg-secondary: #f9f7f2;
  --bg-tertiary: #e8e5de;
  --bg-transparent: #ffffff00;
  --border: #f2eee5;
  --border-always-light: #ffffff66;
  --border-brand: #095845;
  --border-secondary: #f9f7f2;
  --border-tertiary: #E5E1D8;
  --border-active: #C7C3BA;
  --focus: #0958463c;
  --icon: #757575;
  --icon-active: #095845;
  --icon-always-light: #ffffff;
  --icon-brand: #095845;
  --icon-muted: #c1bcae;
  --icon-onbrand: #ffffff;
  --overlay: #00000033;
  --text: #262626;
  --text-always-dark: #262626;
  --text-always-light: #ffffff;
  --text-brand: #095845;
  --text-muted: #57503b;
  --text-onbrand: #ffffff;
  --transition: all 0.2s ease-in-out;
}
