@import 'mixins';

:root {
  overscroll-behavior: none;
  --ui-font-base: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
  --ui-font-serif: "IBM Plex Serif", 'Roboto Slab', 'DejaVu Serif', 'Sitka Small', serif;

  --ratio: 1.5;

  // size
  --ui-s-6: clamp(0.26rem, 0.31rem + -0.29vw, 0.15rem); // 4px
  --ui-s-5: clamp(0.33rem, 0.39rem + -0.29vw, 0.18rem); // 5px
  --ui-s-4: clamp(0.41rem, 0.47rem + -0.31vw, 0.25rem); // 6px
  --ui-s-3: clamp(0.51rem, 0.57rem + -0.31vw, 0.35rem); // 8px
  --ui-s-2: clamp(0.64rem, 0.69rem + -0.27vw, 0.5rem); // 10px
  --ui-s-1: clamp(0.8rem, 0.84rem + -0.18vw, 0.71rem); // 12px
  --ui-s0: clamp(1rem, 1rem + 0vw, 1rem); // 16px
  --ui-s1: clamp(1.25rem, 1.19rem + 0.32vw, 1.41rem); // 22px
  --ui-s2: clamp(1.56rem, 1.39rem + 0.85vw, 2rem); // 32px
  --ui-s3: clamp(1.95rem, 1.61rem + 1.7vw, 2.83rem); // 46px
  --ui-s4: clamp(2.44rem, 1.83rem + 3.04vw, 4rem); // 64px
  --ui-s5: clamp(3.05rem, 2.04rem + 5.07vw, 5.65rem); // 96px
  --ui-s6: clamp(3.81rem, 2.3rem + 7.9vw, 7.5rem); // 128px
  --ui-s7: clamp(4.76rem, 2.6rem + 11.5vw, 10rem); // 160px
  --ui-s8: clamp(5.95rem, 2.9rem + 16.5vw, 13.5rem); // 192px

  // font
  --ui-f1: clamp(0.625rem, 0.6143rem + 0.0343vw, 0.64rem); // 10px
  --ui-f2: clamp(0.6875rem, 0.6071rem + 0.2571vw, 0.8rem); // 12.8px
  --ui-f3: clamp(0.875rem, 0.7857rem + 0.2857vw, 1rem); // 16px
  --ui-f4: clamp(1rem, 0.8214rem + 0.5714vw, 1.25rem); // 20px
  --ui-f5: clamp(1.125rem, 0.8125rem + 1vw, 1.5625rem); // 25px
  --ui-f6: clamp(1.375rem, 0.9621rem + 1.3214vw, 1.953125rem); // 31.25px
  --ui-f7: clamp(1.75rem, 1.2563rem + 1.58vw, 2.44125rem); // 39px
  --ui-f8: clamp(2.125rem, 1.4629rem + 2.1186vw, 3.051875rem); // 48.7px
  --ui-f9: clamp(2.5rem, 1.5607rem + 3.0057vw, 3.815rem); // 61px
  
  // letter spacing
  --ui-f5-ls: -0.01em;
  --ui-f6-ls: -0.02em;
  --ui-f7-ls: -0.03em;
  --ui-f8-ls: -0.03em;
  --ui-f9-ls: -0.04em;

  // line height
  --ui-lh: var(--ratio);
  --ui-lh-sm: calc(0.8 * var(--ratio));

  // radius
  --ui-r1: 2px;
  --ui-r2: 4px;
  --ui-r3: 8px;
  --ui-r50: 50%;

  --accent-100: #f7943e;
  --accent-200: #d911e5;
  --accent-300: #75cf85;
  --accent-400: #99a6ff;
  --accent-500: #38c3ff;
  --accent-600: #ee9c96;
  --accent-700: #f898ff;
  --accent-800: #908f2f;
  --accent-900: #00b9b3;
  --accent-1000: #9b5a0a;
  --base-black: #000000;
  --base-white: #ffffff;
  --border-default: #0000001a;
  --cyan-100: #f0ffff;
  --cyan-200: #d1f9ff;
  --cyan-300: #a2e9ff;
  --cyan-400: #0589ff;
  --cyan-500: #003052;
  --lemon-100: #ffffe9;
  --lemon-200: #fdf4be;
  --lemon-300: #f6e890;
  --lemon-400: #eace00;
  --lemon-500: #862800;
  --lime-100: #f5ffea;
  --lime-200: #dcf9c9;
  --lime-300: #c4eda8;
  --lime-400: #63b800;
  --lime-500: #002e00;
  --navy-400: #404856;
  --navy-500: #141f33;
  --orange-100: #feefe1;
  --orange-200: #ffe7c2;
  --orange-300: #ffd3a0;
  --orange-400: #e06a00;
  --orange-500: #3d1a00;
  --pine-100: #ebfff4;
  --pine-200: #cdfcdd;
  --pine-300: #aff0c6;
  --pine-400: #185937;
  --pine-500: #173623;
  --ruby-100: #fff5fa;
  --ruby-200: #ffdde7;
  --ruby-300: #ffc6d4;
  --ruby-400: #f00053;
  --ruby-500: #1f0000;
  --sandstone-100: #faf9f4;
  --sandstone-200: #f6f3ea;
  --sandstone-300: #ece7d5;
  --sandstone-400: #685d36;
  --sandstone-500: #322d1a;

  --ui-bg: var(--base-white);
  --ui-bg-active: var(--sandstone-100);
  --ui-bg-muted: var(--sandstone-100);
  --ui-bg-muted-active: var(--sandstone-200);
  --ui-border: var(--border-default);
  --ui-brand: var(--pine-400);
  --ui-fg: var(--navy-500);
  --ui-fg-muted: var(--navy-400);
  --ui-icon: var(--sandstone-400);
  --ui-icon-active: var(--sandstone-500);

}

@include dm {

  :root {
    --accent-100: #f7943e;
    --accent-200: #d911e5;
    --accent-300: #75cf85;
    --accent-400: #99a6ff;
    --accent-500: #38c3ff;
    --accent-600: #ee9c96;
    --accent-700: #f898ff;
    --accent-800: #908f2f;
    --accent-900: #00b9b3;
    --accent-1000: #9b5a0a;
    --base-black: #ffffff;
    --base-white: #1f2223;
    --border-default: #ffffff26;
    --cyan-100: #041f2f;
    --cyan-200: #072f46;
    --cyan-300: #0a476b;
    --cyan-400: #49b1ee;
    --cyan-500: #6abff1;
    --lemon-100: #312b02;
    --lemon-200: #4e4503;
    --lemon-300: #625604;
    --lemon-400: #f5d80a;
    --lemon-500: #fbef9d;
    --lime-100: #16260d;
    --lime-200: #213a13;
    --lime-300: #2c4d19;
    --lime-400: #74c346;
    --lime-500: #94d171;
    --navy-400: #b3b3b3;
    --navy-500: #ffffff;
    --orange-100: #321901;
    --orange-200: #4b2502;
    --orange-300: #7d3e03;
    --orange-400: #e67105;
    --orange-500: #fdca9b;
    --pine-100: #0f2418;
    --pine-200: #173623;
    --pine-300: #1e482f;
    --pine-400: #43a26a;
    --pine-500: #93d2ad;
    --ruby-100: #2a090d;
    --ruby-200: #3f0d14;
    --ruby-300: #871c2a;
    --ruby-400: #da4e60;
    --ruby-500: #efb3bb;
    --sandstone-100: #292c2e;
    --sandstone-200: #292c2e;
    --sandstone-300: #303436;
    --sandstone-400: #60686c;
    --sandstone-500: #aeb4b7;
    
    --ui-bg: var(--base-white);
    --ui-bg-active: var(--sandstone-100);
    --ui-bg-muted: var(--sandstone-100);
    --ui-bg-muted-active: var(--sandstone-200);
    --ui-border: var(--border-default);
    --ui-brand: var(--pine-400);
    --ui-fg: var(--navy-500);
    --ui-fg-muted: var(--navy-400);
    --ui-icon: var(--sandstone-400);
    --ui-icon-active: var(--sandstone-500);
  }
}
